// Put header contents in this document
#header
{
  max-height: 100px;
}
.logo 
{
  text-align: center;
}
.imgLogo 
{
  max-height: 100px;
}
.dateTime 
{
  text-align: center;
  color: $seaBlue;
}
ul 
{
  padding: 0px;
}
